<div class="need-action-editor">
  <mat-card *ngFor="let action of actions; let i = index">
    <button mat-icon-button class="delete-button" (click)="delete(i)">
      <mat-icon>clear</mat-icon>
    </button>

    <div class="row">
      <mat-form-field class="id-input">
        <input matInput type="number" placeholder="Id" [(ngModel)]="action.need_id" (blur)="update()">
      </mat-form-field>

      <mat-form-field class="location-input">
        <mat-label>Wining Location</mat-label>
        <mat-select [(ngModel)]="action.wining_location" (selectionChange)="update(action)">
          <mat-option [value]="'add'">Add room</mat-option>
          <mat-option [value]="null">No room</mat-option>
          <mat-option *ngFor="let room of rooms" [value]="room">
            {{ room }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="message-input">
      <textarea matInput cdkTextareaAutosize placeholder="Message" rows="3" [(ngModel)]="action.message" (blur)="update()"></textarea>
    </mat-form-field>

  </mat-card>
  <button mat-raised-button color="accent" (click)="add()">ADD</button>
</div>

