.need-action-editor {
  padding: 50px;

  mat-card {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    display: block;
    padding: 0 30px;
  }

  .delete-button {
    align-self: flex-end;
  }

  .id-input,
  .location-input {
    width: 50%;
  }

  .message-input {
    padding-bottom: 30px;
  }

  .row {
    display: flex;
  }
}
