<div class="general-editor">
  <mat-form-field>
    <textarea matInput cdkTextareaAutosize placeholder="Alias" [(ngModel)]="alias" (blur)="changeAlias()"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput cdkTextareaAutosize placeholder="Description" [(ngModel)]="description" (blur)="changeDescription()"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput cdkTextareaAutosize placeholder="Sound trigger" [(ngModel)]="soundTrigger" (blur)="changeSoundTrigger()"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput cdkTextareaAutosize placeholder="Chapter image" [(ngModel)]="chapterImage" (blur)="changeChapterImage()"></textarea>
  </mat-form-field>
  <button class="search-button" mat-button [disabled]="!description" (click)="search()">SEARCH ROOM</button>
  <ng-container *ngIf="isSearched">
    <div *ngIf="results.length === 0">No rooms found with this description</div>
    <div *ngIf="results.length === 1">One room found with the description: {{ results[0] }}</div>
    <div *ngIf="results.length > 1">Multiple rooms found with the description:
      <span *ngFor="let room of results">{{ room }}, </span>
    </div>
  </ng-container>
</div>