<div class="object-editor">
  <mat-card *ngFor="let object of objects; let i = index">
    <button mat-icon-button class="delete-button" (click)="delete(i)">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-form-field>
      <textarea cdkTextareaAutosize matInput placeholder="Name" [(ngModel)]="object.name" (blur)="update()"></textarea>
    </mat-form-field>
  </mat-card>
  <button mat-raised-button color="accent" (click)="add()">ADD</button>
</div>

