<div class="inspect-editor">
  <div class="hot-buttons">
    <button
      mat-icon-button
      class="environment-button"
      matTooltip="Környezeted"
      (click)="addEnvironment()">
      <mat-icon>location_searching</mat-icon>
    </button>
  </div>
  <mat-card *ngFor="let inspect of inspects; let i = index">
    <button mat-icon-button class="delete-button" (click)="delete(i)">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-form-field>
      <textarea cdkTextareaAutosize matInput placeholder="Name" [(ngModel)]="inspect.name" (blur)="update()"></textarea>
    </mat-form-field>
    <mat-form-field class="message-input">
      <textarea cdkTextareaAutosize matInput placeholder="Message" [(ngModel)]="inspect.message" (blur)="update()"></textarea>
    </mat-form-field>
  </mat-card>
  <button mat-raised-button color="accent" (click)="add()">ADD</button>
</div>
