.inspect-editor {
  padding: 50px;

  mat-card {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    display: block;
    padding: 0 30px;
  }

  .delete-button {
    align-self: flex-end;
  }

  .message-input {
    padding-bottom: 30px;
  }

  .hot-buttons {
    text-align: right;
  }
}
