<div class="exit-container">

  <div class="exit-cardinals">
    <div *ngFor="let exitCardinal of exitCardinals">
      <app-exit-panel-button *ngFor="let exit of exitCardinal" [title]="exit" (addNewRoom)="addRoom($event)" (selectRoom)="onRoomSelect($event)"></app-exit-panel-button>
    </div>
  </div>

  <div class="exit-directions">
    <div *ngFor="let exitDirection of exitDirections">
      <app-exit-panel-button *ngFor="let exit of exitDirection" [title]="exit" (addNewRoom)="addRoom($event)" (selectRoom)="onRoomSelect($event)"></app-exit-panel-button>
    </div>
  </div>

  <div class="exit-actions">
    <div class="exit-actions-wrapper" *ngFor="let exitAction of exitActions">
      <p *ngIf="exitAction.action" class="action-wrapper">{{ exitAction.action }}: </p>
      <app-exit-panel-button  [title]="exitAction.exitRoom" (addNewRoom)="addRoom($event)" (selectRoom)="onRoomSelect($event)"></app-exit-panel-button>
    </div>
  </div>
</div>