.exit-container {
  display: flex;

  .exit-cardinals app-exit-panel-button {
    padding: 10px;
  }

  .exit-directions {
    margin-left: 50px;
  }

  .exit-directions app-exit-panel-button {
    padding: 10px;
  }

  .exit-actions {
    margin-left: 50px;

    .exit-actions-wrapper {
      display: flex;
      padding: 10px;
    }

    .action-wrapper {
      padding-right: 20px;
    }
  }
}