<div class="room-name-dialog">
  <h1 mat-dialog-title>Room name</h1>
  <div mat-dialog-content>
    <form [formGroup]="formGroup">
      <div>
        <mat-form-field>
        <span matPrefix>room</span>
        <input formControlName="roomName" matInput>
      </mat-form-field>
    </div>
    <div *ngIf="!isCopy">
      <mat-form-field>
        <textarea cdkTextareaAutosize matInput placeholder="Description" formControlName="description" rows="5"></textarea>
      </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="buttons-wrapper">
    <button mat-button (click)="cancel()">CANCEL</button>
    <button mat-button (click)="create()" [disabled]="formGroup.invalid">CREATE</button>
  </div>
</div>