.editor-container {
  padding: 10px;
}

.editor-container mat-card {
  background-color: #f3f3f3;
  margin: 10px 0 30px 0;
}

.button-wrapper {
  float: right;
}

.save-button {
  margin: 10px;
}

@media only screen and (min-width: 1200px) {
  ::ng-deep .mat-tab-labels {
    position: relative;
  }

  ::ng-deep .mat-tab-label:last-child {
    position: absolute;
    right: 0px;
  }
}

.room-buttons-wrapper {
  padding: 0 30px;
  display: inline-block;

  button {
    margin: 0 5px;
  }
}
