<div class="editor-container">
  <mat-form-field>
    <mat-label>Room</mat-label>
    <mat-select [(ngModel)]="selectedRoom">
      <mat-option *ngFor="let room of roomKeys" [value]="room">
        {{ room }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="room-buttons-wrapper">
    <button mat-button color="primary" (click)="addRoom()">ADD</button>
    <button mat-button color="accent" [disabled]="!selectedRoom" (click)="copyRoom()">COPY</button>
    <button mat-button color="warn" [disabled]="!selectedRoom" (click)="deleteRoom()">DELETE</button>
    <button mat-button color="primary" (click)="searchRoom()">SEARCH</button>
    <button *ngIf="selectedRoom" mat-button color="accent" (click)="toggleDescription()">
      {{ isDescriptionVisible ? 'HIDE' : 'SHOW' }} DESCRIPTION
    </button>
  </div>

  <div class="button-wrapper">
    <input #fileInput hidden="true" type="file" (change)="load($event)" accept=".json"/>
    <button mat-flat-button color="accent" (click)="fileInput.click()">LOAD</button>
    <button mat-raised-button color="primary" class="save-button" (click)="save()" [disabled]="roomKeys.length === 0">SAVE</button>
  </div>

  <mat-card *ngIf="selectedRoom && isDescriptionVisible">{{rooms[selectedRoom].description}}</mat-card>

  <mat-tab-group *ngIf="selectedRoom && selectedRoom !== '0'">
    <mat-tab label="General">
      <app-general-editor
        [room]="selectedRoom"
        [alias]="rooms[selectedRoom].alias"
        [description]="rooms[selectedRoom].description"
        [soundTrigger]="rooms[selectedRoom].soundTrigger"
        [chapterImage]="rooms[selectedRoom].chapterImage">
      </app-general-editor>
    </mat-tab>
    <mat-tab label="Need Action">
      <app-need-action-editor
        [actions]="rooms[selectedRoom].needAction"
        [rooms]="roomKeys"
        [selectedRoom]="selectedRoom"
        (addRoom)="addNewRoomFromAction($event)">
      </app-need-action-editor>
    </mat-tab>
    <mat-tab label="Main Actions">
      <app-main-action-editor
        [actions]="rooms[selectedRoom].mainActions"
        [rooms]="roomKeys"
        [selectedRoom]="selectedRoom"
        (addRoom)="addNewRoomFromAction($event)">
      </app-main-action-editor>
    </mat-tab>
    <mat-tab label="Inspect">
      <app-inspect-editor
        [selectedRoom]="selectedRoom"
        [inspects]="rooms[selectedRoom].inspect">
      </app-inspect-editor>
    </mat-tab>
    <mat-tab label="Exits">
      <app-exit-editor
        [selectedRoom]="selectedRoom"
        [exit]="rooms[selectedRoom].exits"
        [rooms]="roomKeys">
      </app-exit-editor>
      <app-exit-panel
        [exit]="rooms[selectedRoom].exits"
        [needActions]="rooms[selectedRoom].needAction"
        [mainActions]="rooms[selectedRoom].mainActions"
        (selectRoom)="onRoomSelect($event)"
        (addNewRoom)="addNewRoomFromExitPanel($event)">
      </app-exit-panel>
    </mat-tab>
    <mat-tab label="Objects">
      <app-object-editor
        [selectedRoom]="selectedRoom"
        [objects]="rooms[selectedRoom].objects"
        [rooms]="roomKeys">
      </app-object-editor>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <app-show-details-button [config]="config"></app-show-details-button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
