<div class="exit-editor">
  <div class="column">
    <mat-form-field *ngFor="let column of firstColumn">
      <mat-label>{{ column.label }}</mat-label>
      <mat-select [(ngModel)]="exit[column.direction]" (selectionChange)="updateExits()">
        <mat-option [value]="'-1'">No room</mat-option>
        <mat-option *ngFor="let room of rooms" [value]="room">
          {{ room }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="column">
    <mat-form-field *ngFor="let column of secondColumn">
      <mat-label>{{ column.label }}</mat-label>
      <mat-select [(ngModel)]="exit[column.direction]" (selectionChange)="updateExits()">
        <mat-option [value]="'-1'">No room</mat-option>
        <mat-option *ngFor="let room of rooms" [value]="room">
          {{ room }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="column">
    <mat-form-field *ngFor="let column of thirdColumn">
      <mat-label>{{ column.label }}</mat-label>
      <mat-select [(ngModel)]="exit[column.direction]" (selectionChange)="updateExits()">
        <mat-option [value]="'-1'">No room</mat-option>
        <mat-option *ngFor="let room of rooms" [value]="room">
          {{ room }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
