<button *ngIf="!isDisabled" mat-flat-button color="primary" (click)="onRoomSelect()">{{ title }}</button>
<button *ngIf="isDisabled" mat-flat-button class="disabled-button" (click)="addRoom()">{{ title }}</button>