<div class="main-action-editor">
  <mat-card *ngFor="let action of actions; let i = index">
    <button mat-icon-button class="delete-button" (click)="delete(i)">
      <mat-icon>clear</mat-icon>
    </button>

    <mat-form-field>
      <textarea cdkTextareaAutosize matInput placeholder="Name" [(ngModel)]="action.name" (blur)="update()"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea cdkTextareaAutosize matInput placeholder="Message" [(ngModel)]="action.message" (blur)="update()"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Action id" [(ngModel)]="action.action_id" (blur)="update()">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Need action" [(ngModel)]="action.need_action" (blur)="update()">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Need items" [(ngModel)]="action.need_items" (blur)="update()">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Item event" [(ngModel)]="action.item_event" (blur)="update()">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Wining item" [(ngModel)]="action.wining_item" (blur)="update()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wining Location</mat-label>
      <mat-select [(ngModel)]="action.wining_location" (selectionChange)="update(action)">
        <mat-option [value]="'add'">Add room</mat-option>
        <mat-option [value]="null">No room</mat-option>
        <mat-option *ngFor="let room of rooms" [value]="room">
          {{ room }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Remove item" [(ngModel)]="action.remove_item" (blur)="update()">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Sound trigger" [(ngModel)]="action.soundTrigger" (blur)="update()">
    </mat-form-field>

  </mat-card>
  <button mat-raised-button color="accent" (click)="add()">ADD</button>
</div>
