<h1 mat-dialog-title>Search Room By Description</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <textarea cdkTextareaAutosize matInput formControlName="description"></textarea>

      <!-- <input formControlName="description" matInput> -->
    </mat-form-field>
    <button mat-button type="submit" (click)="search()">SEARCH</button>
  </form>
  <ng-container *ngIf="isSearched">
    <div *ngIf="results.length === 0">No rooms found</div>
    <div *ngIf="results.length === 1">One room found: {{ results[0] }}</div>
    <div *ngIf="results.length > 1">Multiple rooms found:
      <span *ngFor="let room of results">{{ room }}, </span>
    </div>
  </ng-container>
</div>
<div mat-dialog-actions class="buttons-wrapper">
  <button mat-button (click)="cancel()">CANCEL</button>
  <button mat-button (click)="openRoom()" [disabled]="results.length !== 1">OPEN ROOM</button>
</div>